<table align="center" width=100%>
    <tr>
        <td width="20%">
            <img src="homework.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> TakeHome<br>(Day 2)
                    </b>
                </font>
            </div>
        </td>
        <td width="25%">
            <img src="NEW_GL_Logo.png">
        </td>
    </tr>
</table>

### Let's begin with some hands-on practice exercises

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. A text is given below. Write a program to find the character which is at the index position obtained by adding the indices of the character 'o' of the word 'Hello' and 'o' of the word 'welcome'</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>string = "Hello, welcome to my world." </b>

In [4]:
# type your code here
string="Hello, welcome to my world."
print(string[4+11])

t

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 2. Create a tuple with single value '5'</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [2]:
# type your code here
tup=(5,)
print(tup)
type(tup)

(5,)

tuple

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Write a program that takes two dictionaries and concatenates them into one dictionary</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below dictionaries:**

dictionary_1 = {'A':1, 'B':2}<br>

dictionary_2 = {'C':3}

In [7]:
# type your code here
dictionary_1 = {'A':1, 'B':2}
dictionary_2 = {'C':3}
print({**dictionary_1,**dictionary_2})

{'A': 1, 'B': 2, 'C': 3}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Retrieve the third element in the given list</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**
    
num_list = [5, 3, 6, 1, 85, 23, 5, 13]

In [8]:
# type your code here
num_list = [5, 3, 6, 1, 85, 23, 5, 13]
print(num_list[3])

1

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Count the occurance of number -6 in the given tuple</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple given below:**
    
num_tuple = (-4, 7, -8, -9, 8, -6, 7, 3, -6, 1, -8, -6)

In [9]:
# type your code here
num_tuple = (-4, 7, -8, -9, 8, -6, 7, 3, -6, 1, -8, -6)
print(num_tuple.count(-6))

3

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 6. Check whether the number 53 is in the given list or not</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**
    
num_list = [5, 3, 6, 1, 85, 23, 5, 13]

In [11]:
# type your code here
num_list = [5, 3, 6, 1, 85, 23, 5, 13]
print(53 in num_list)

False

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Write a program to convert a list into tuple  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list below:**

num_list = [24, 18, 24, 47, 52]

In [12]:
# type your code here
num_list = [24, 18, 24, 47, 52]
tup=tuple(num_list)
print(tup)

(24, 18, 24, 47, 52)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Write a program to retrieve the capital of 'Germany' from a given dictionary</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dictionary given below:**

europe = { 'Spain': { 'Capital':'Madrid', 'Population':4.77 },
           'France': { 'Capital':'Paris', 'Population':6.7 },
           'Germany': { 'Capital':'Berlin', 'Population':8.28 },
           'Norway': { 'Capital':'Oslo', 'Population':0.533 } }

In [14]:
# type your code here
europe = { 'Spain': { 'Capital':'Madrid', 'Population':4.77 }, 'France': { 'Capital':'Paris', 'Population':6.7 }, 'Germany': { 'Capital':'Berlin', 'Population':8.28 }, 'Norway': { 'Capital':'Oslo', 'Population':0.533 } }
print(europe['Germany']['Capital'])

Berlin

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Replace the elements in the given tuple: <br><br>
                        a. Replace '2' with '3'<br>
                        b. Replace 'True' in first element with 'False'
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple below:**

mix_tuple = (['a', 1, True], 2, 'Science', -5)

In [17]:
# type your code here
mix_tuple = (['a', 1, True], 2, 'Science', -5)
m=list(mix_tuple)
m[1]=3
m[0][2]=False
print(m[1])
print(m[0][2])

3
False

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Write a program to create a dictionary using given keys and values</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the keys and values to create a dictionary**

key = ['a','b','c','d']

value = [1, 2, 3, 4]

In [18]:
# type your code here
key = ['a','b','c','d']
value = [1, 2, 3, 4]
res={}
for i in range(len(key)):
    res[key[i]]=value[i]
print(res)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}