<table align="center" width=100%>
    <tr>
        <td width="20%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Inclass-Lab<br>(Day 3)
                    </b>
                </font>
            </div>
        </td>
        <td width="25%">
            <img src="NEW_GL_Logo.png">
        </td>
    </tr>
</table>

## Table of Content

1. **[Set](#set)**
2. **[Conditional Statements](#cond)**
3. **[Python Flow Control](#flow_control)**

### Let's begin with some hands-on practice exercises

<a id="set"> </a>
## 1. Set

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Write the program to perform following manipulations:<br><br>
                        a. Add '7' to the given set<br>
                        b. Remove '3' from a given set<br>
                        c. Clear the set
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below set for manipulation**

num_set = {1, 2, 3, 4, 5, 6}

In [ ]:
d = {860: 'python', 109: 'java', 12: 'selenium'}
for i in d:
    print(i)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Create two sets of words from the given sentences and perform the following operations:<br><br>
                        a. Find the count of unique words in each of the sentence<br> 
                        b. Find the common words in both the sentences<br>
                        c. Find the unique words in both the sentences
                       </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the sentences given below:**
    
sentence_1 = 'We shall analyse the data using python' 

sentence_2 = 'Python for data science'

In [8]:
sentence_1 = set(('We shall analyse the data using python').split())
sentence_2 = set(('Python for data science').split())
print(len(sentence_1))
print(len(sentence_2))

7
4

In [5]:
sentence_1 = set(('We shall analyse the data using python').split())
sentence_2 = set(('Python for data science').split())
a=sentence_1.intersection(sentence_2)
a

{'data'}

In [7]:
sentence_1 = set(('We shall analyse the data using python').split())
sentence_2 = set(('Python for data science').split())
a=sentence_1.symmetric_difference(sentence_2)
a

{'Python',
 'We',
 'analyse',
 'for',
 'python',
 'science',
 'shall',
 'the',
 'using'}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Write a program to perform following set operations:<br><br>
                        a. Union<br> 
                        b. Intersection<br>
                        c. Set of all the elements of set A that are not in set B<br>
                        d. Set of all the elements of set B that are not in set A<br>
                        e. Symmetric difference
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below set:**

A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}

B = {3, 42, 51, 6, 7, 8, 54, 5}

In [13]:
A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}

B = {3, 42, 51, 6, 7, 8, 54, 5}
print(A.union(B))
print(A.intersection(B))
print(A.difference(B))
print(B.difference(A))
print(A.symmetric_difference(B))

{1, 2, 4, 8, 40, 42, 51, 54, 71, 87}

<a id="cond"> </a>
## 2. Conditional Statements

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Write a program to check whether a given number is multiple of 7 (use if statement)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [14]:
a=int(input("Enter the number: "))
if a%7==0:
    print(True)
else:
    print(False)

Enter the number: 7
True

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Write a code to print the maximum of two numbers (use if-else)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [15]:
a=int(input("Enter the number: "))
b=int(input("Enter the number: "))
if a>b:
    print("A is greater")
else:
    print("B is greater")

Enter the number: 80
Enter the number: 45
A is greater

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Write a program to check whether a number is positive, negative or zero (use if-elif) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [20]:
a=int(input("Enter the number: "))
if a==0:
    print("Zero")
elif a>0:
    print("+ve")
else:
    print("-ve")

Enter the number: -5
-ve

<a id= "flow_control"> </a>
## 2. Python Flow Control

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Write a program for generating a fibonacci series starting with 0 and 1 for the next 10 values using a while loop. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [21]:
num=10
n1=0
n2=1
s=0
i=0
while(i<num):
    print(n1,end=',')
    s=s+n1
    sn=n1+n2
    n1=n2
    n2=sn
    i=i+1

0,1,1,2,3,5,8,13,21,34,

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Write a code to find factorial of a number (take the input from user). </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
a=int(input("enter the number:"))
n=1
if(a==0 or a==1):
    print(1)
else:
    for i in range(a,1,-1):
        n=n*i
print(n)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Write a program to check whether two numbers are amicable or not (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [5]:
s=0
n1=220
for i in range(1,n1):
    if n1%i==0:
        print(i,end=' ')
        s=s+i
print(s)

s1=0
n2=284
for j in range(1,n2):
    if n2%j==0:
        print(j,end=' ')
        s1=s1+j
print(s1)

if n1==s2 and n2==s1:
    print('Amicable')
else:
    print('Non Amicable')

1 2 4 5 10 11 20 22 44 55 110 284
1 2 4 71 142 220

In [22]:
a=int(input("enter the 1st number:"))
b=int(input("enter the 2nd number"))
sum_a=0
sum_b=0
for i in range(1,a+1):
    if a%i==0:
        sum_a+=i
for j in range(1,b+1):
    if b%j==0:
        sum_b+=j
if sum_a==sum_b:
    print('Amicable')
else:
    print('Non Amicable')

enter the 1st number:220
enter the 2nd number284
Amicable

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Reverse string using a for loop (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [24]:
s=input("enter the string:")
ns=[]
for i in range(-1,-len(s)-1,-1):
    ns.append(s[i])
print("".join(ns))

enter the string:hello
olleh

In [7]:
s=''
string=input('Enter the string: ')
for i in string:
    s=i+s
print(s)

Enter the string: hello hello
olleh olleh

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Write a code to find the average of given numbers (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [6]:
r=int(input('Enter the range: '))
add=0
for i in range(r):
    num=int(input('enter a number'))
    add+=num
print(add/r)

Enter the range: 5
enter a number10
enter a number20
enter a number30
enter a number50
enter a number80
38.0