## List Comprehension

What is a list comprehension?
● A list comprehension provides a concise way to create another list
● Using list comprehensions reduces the number of code lines making it. It look more 
elegant
● It is possible to use conditions in a list comprehension
● The list comprehension always returns a list

In [1]:
li=[2,3,4,5]
l=[]
for i in li:
    l.append(i**2)
l

[4, 9, 16, 25]

In [3]:
[i**2 for i in li]

[4, 9, 16, 25]

In [5]:
[i+5 for i in li]

[7, 8, 9, 10]

In [6]:
[i%2 for i in li]

[0, 1, 0, 1]

In [ ]:
# Syntax 1:   [value for value in iterable]                
# Syntax 2:   [value for value in iterable if condition]   {used to filter the list}   
# Syntax 3:   [val1 if cond else val2 for i in iterable]   {used to map the values over iterable}

In [11]:
[i for i in range(1,26) if i%3==0] #example syntax 2

[3, 6, 9, 12, 15, 18, 21, 24]

In [7]:
[i for i in range(10,16)]  # Eg Syntax 1

[10, 11, 12, 13, 14, 15]

In [8]:
[i**2 for i in range(5)]   # Eg Syntax 1

[0, 1, 4, 9, 16]

In [9]:
[i+2 for i in [23,43,56,12,88]] # Eg syntax 1

[25, 45, 58, 14, 90]

In [10]:
[i for i in range(1,21) if i%3==0] # Eg syntax 2

[3, 6, 9, 12, 15, 18]

In [12]:
[i+2 for i in [23,43,56,12,88] if i%2==0] # Eg syntax 2

[58, 14, 90]

In [22]:
[i+2 if i%2==0 else i for i in [23,43,56,12,88]] # Eg syntax 3

[23, 43, 58, 14, 90]

In [21]:
li=[23,43,56,12,88]
['even' if i%2==0 else 'odd' for i in li]

['odd', 'odd', 'even', 'even', 'even']

In [23]:
['Odd' if i%2==1 else 'Even' for i in [3,6,9,12,18,21,24,27,30]]  # Eg syntax 3

['Odd', 'Even', 'Odd', 'Even', 'Even', 'Odd', 'Even', 'Odd', 'Even']

In [13]:
#Q. Print a list between 1 to 50 where all the values are multiple of 3 and 5 both
[i for i in range(1,51) if i%3==0 and i%5==0]

[15, 30, 45]

In [17]:
#Q. li = ['Apple','Kiwi','Mango','Banana','Papaya','Pear'] create a list of all the fruits which have 'a' in name
li = ['Apple','Kiwi','Mango','Banana','Papaya','Pear']
[i for i in li if 'a' in i.lower()]

['Apple', 'Mango', 'Banana', 'Papaya', 'Pear']

In [19]:
#Q. Create a new list with the no of characters in each fruit name
[len(i) for i in li]

[5, 4, 5, 6, 6, 4]

In [20]:
#Q. Print the cube of first 10 numbers
[i**3 for i in range(1,11)]

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [25]:
#Q. strings = ['baby','muscle','dalmations101','hulk3','titanic']  create a list with value alphabet if movie name has only alphabets and alphanumber if movie name has alphabets and number
strings = ['baby','muscle','dalmations101','hulk3','titanic']
['alphabet' if i.isalpha() else 'alphanumber' for i in strings]

['alphabet', 'alphabet', 'alphanumber', 'alphanumber', 'alphabet']

In [1]:
#Q. [-2,9,3,0,7,-4,0,5], create a list with values neg if number is negative pos if number is positive else zero.
l=[-2,9,3,0,7,-4,0,5]
['zero' if i==0 else ('neg' if i<0 else 'pos') for i in l]

['neg', 'pos', 'pos', 'zero', 'pos', 'neg', 'zero', 'pos']

In [28]:
['pos' if i>0 else 'neg' for i in l]

['neg', 'pos', 'pos', 'neg', 'pos', 'neg', 'neg', 'pos']

In [31]:
['pos' if i>0 else 'neg' if i<0 else 'zero' for i in l]

['neg', 'pos', 'pos', 'zero', 'pos', 'neg', 'zero', 'pos']

In [34]:
ph=[3.5,8.9,1.2,7.6,6.3,11,7]
['acidic' if i<7 else 'basic' if i>7 else 'neutral' for i in ph]

['acidic', 'basic', 'acidic', 'basic', 'acidic', 'basic', 'neutral']

Q. name =['Ajay','Neha', 'Mukesh', 'Swati']
marks = [67,89,90,76]
create a dictionary with two lists using list comprehension

In [36]:
name =['Ajay','Neha', 'Mukesh', 'Swati']
marks = [67,89,90,76]
{k:v for k,v in zip(name,marks)}

{'Ajay': 67, 'Neha': 89, 'Mukesh': 90, 'Swati': 76}

In [37]:
d={}
for k,v in zip(name,marks):
    d[k]=v
d

{'Ajay': 67, 'Neha': 89, 'Mukesh': 90, 'Swati': 76}

Q. create a dictionary where key is a fruit name and value is the length of the fruit name
fruit = ['Apple','Kiwi','Mango','Banana','Papaya','Pear']

In [38]:
fruit = ['Apple','Kiwi','Mango','Banana','Papaya','Pear']
{k:len(fruit) for k in fruit}

{'Apple': 6, 'Kiwi': 6, 'Mango': 6, 'Banana': 6, 'Papaya': 6, 'Pear': 6}

create above dictionary of those fruits only which ends with a

In [41]:
{k:len(k) for k in fruit if k.endswith('a')}

{'Banana': 6, 'Papaya': 6}

Q. create a dictionary where key is a fruit name and value is odd if length of the fruit name is odd else even

In [43]:
{k:'even' if len(k)%2==0 else 'odd' for k in fruit}

{'Apple': 'odd',
 'Kiwi': 'even',
 'Mango': 'odd',
 'Banana': 'even',
 'Papaya': 'even',
 'Pear': 'even'}

Q [[1,2,3],[1,2,3],[1,2,3]]

In [47]:
[[i for i in range(1,4)] for j in range(3)]

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [48]:
[[1,2,3] for i in range(1,4)]

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [49]:
[[1,2,3]]*3

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [8]:
def rev(s1):
    word=s.split()
    revs=' '.join(reversed(word))
    return revs
s='Hello I am Ayush'
rev(s)

'Ayush am I Hello'

In [11]:
def revs(s1):
    s=s1.split()
    l=0
    r=len(s)-1
    while(l<=r):
        s[l],s[r]=s[r],s[l]
        l+=1
        r-=1
    s=' '.join(s)
    return s
s='HEllo I am ayush'
print(revs(s))

ayush am I HEllo

In [13]:
n=int(input('Enter the number: '))
flag=False
if n==1:
    print(n,'is not prime no')
else:
    for i in range(2,n):
        if n%i==0:
            flag=True
            break
    if flag:
        print(n,'is non prime')
    else:
        print(n,'is prime')

Enter the number: 5
5 is prime

In [19]:
n=int(input('Enter the number: '))
for j in range(2,n+1):
    for i in range(2,j):
        if j%i==0:
            break
    else:
         print(j)

Enter the number: 5
2
3
5

In [21]:
num=int(input('Enter the number: '))
s=0
temp=num
while temp>0:
    digit=temp%10
    s+=digit**3
    temp//=10
if s==num:
    print('Armstrong no')
else:
    print('Non Armstrong')

Enter the number: 131
Non Armstrong