<table align="center" width=100%>
    <tr>
        <td width="20%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Inclass-Lab<br>(Day 2)
                    </b>
                </font>
            </div>
        </td>
        <td width="25%">
            <img src="NEW_GL_Logo.png">
        </td>
    </tr>
</table>

##  Table of Content

1. **[String](#string)**
2. **[List](#list)**
3. **[Tuple](#tuple)**
4. **[Dictionary](#dict)**

### Let's begin with some hands-on practice exercises

<a id="string"></a>
## 1. String Operations

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Create a string with the name 'country' and 'India' as its element. Perform the following on it:
                    <ol type = "1">
                        <li>Find its length. </li>
                        <li>Extract it first two letters. </li>
                        </ol></b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [3]:
# type your code here
country="India"
print(len(country))
country[0:2]

5

'In'

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Given the string 'Today is a sunny day.' 
                        <ol > <li>  Write a code to get 'Today'  and 'sunny'. </li>
                             <li>  Obtain the last two letters. </li>
                             <li>  Write the statement backwards.</li>
                        </ol> </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [32]:
# type your code here
s='Today is a sunny day'
print(s[0:6])
print(s[-9:-4])
print(s[-2:])
print(s[::-1])

Today
sunny
ay
yad ynnus a si yadoT

<a id="list"> </a>
## 2. List

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Write a program to perform following list operations on the list given below:<br><br>
                        a. Check the length of mix_list_1<br>
                        b. Check the membership of '24' in mix_list_1<br> 
                        c. Concatenate the mix_list_1 and mix_list_2<br>
                        d. Repeat the mix_list_2 three times </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Lists to perform operations:**

mix_list_1 = ['Learn', 24, 'Blue', False, -8]

mix_list_2 = [4, 7, 'Summer']

**a. Check the length of mix_list_1**

In [15]:
# type your code here
mix_list_1 = ['Learn', 24, 'Blue', False, -8]
len(mix_list_1)

5

**b. Check the membership of '24' in mix_list_1**

In [16]:
# type your code here
mix_list_1 = ['Learn', 24, 'Blue', False, -8]
24 in mix_list_1

True

**c. Concatenate the mix_list_1 and mix_list_2**

In [18]:
# type your code here
mix_list_1 = ['Learn', 24, 'Blue', False, -8]
mix_list_2 = [4, 7, 'Summer']
mix_list_1+mix_list_2

['Learn', 24, 'Blue', False, -8, 4, 7, 'Summer']

**d. Repeat the mix_list_2 three times**

In [1]:
# type your code here
mix_list_2 = [4, 7, 'Summer']
print(mix_list_2)

[4, 7, 'Summer', 4, 7, 'Summer', 4, 7, 'Summer']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Write the program to multiply the two lists</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Lists to perform multiplication:**

num_list_1 = [1, 2, 3, 4]

num_list_2 = [0, 5, 2, 1]

In [4]:
# type your code here
num_list_1 = [1, 2, 3, 4]
num_list_2 = [0, 5, 2, 1]
res=[]
for i in range(0,len(num_list_1)):
               res.append(num_list_1[i]*num_list_2[i])
print(res)

[0, 10, 6, 4]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Write a code to retrieve elements from a list<br><br>
                       a. First element<br>
                       b. Second last element<br>
                       c. First three elements<br>
                       d. Slice the list from 1st index till the last index with an increment of an index by 2
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below list**

mix_list = ['Python', 1, 2, 3, 'Data', True]

**a. First element**

In [1]:
# type your code here
mix_list = ['Python', 1, 2, 3, 'Data', True]
print(mix_list[0])

Python

**b. Second last element**

In [2]:
# type your code here
mix_list = ['Python', 1, 2, 3, 'Data', True]
print(mix_list[-2])

Data

**c. First three elements**

In [3]:
# type your code here
mix_list = ['Python', 1, 2, 3, 'Data', True]
print(mix_list[:3])

['Python', 1, 2]

**d. Slice the list from 1st index till the last index with an increment of an index by 2**

In [31]:
# type your code here
mix_list = ['Python', 1, 2, 3, 'Data', True]
print(mix_list[1::1])

[1, 2, 3, 'Data', True]

**Use the below list**

num_list = [4, 5, 7, -2, 0, 1]

**a. Min(list)**

In [5]:
# type your code here
num_list = [4, 5, 7, -2, 0, 1]
min(num_list)

-2

**b. Max(list)**

In [6]:
# type your code here
num_list = [4, 5, 7, -2, 0, 1]
max(num_list)

7

**c. Sort the elements (use sort() and sorted() function)**

In [9]:
# type your code here
num_list = [4, 5, 7, -2, 0, 1]
num_list.sort()
print(num_list)

a=sorted(num_list)
print(a)

[-2, 0, 1, 4, 5, 7]
[-2, 0, 1, 4, 5, 7]

**d. Create a copy of a list**

In [11]:
# type your code here
l1=[4, 5, 7, -2, 0, 1]
l2=l1.copy()
print(l2)

[4, 5, 7, -2, 0, 1]

**e. Remove element '5' from the list**

In [13]:
# type your code here
l1=[4, 5, 7, -2, 0, 1]
l1.remove(5)
print(l1)

[4, 7, -2, 0, 1]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Manipulating a list:<br><br>
                        a. Add a new element 'Data' in the given list<br>
                        b. Add elements 'Excel' and 'Data' in the given list<br>
                        c. Replace an element 'C' with 'C++' in the given list<br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

#### Use the below list

languages_list = ['R', 'Python', 'C', 'Java']

**a. Add a new element 'Data' in the given list**

In [15]:
# type your code here
l1=['R', 'Python', 'C', 'Java']
l1.append('Data')
print(l1)

['R', 'Python', 'C', 'Java', 'Data']

**b. Add elements 'Excel' and 'Data' in the given list**

In [16]:
# type your code here
l1=['R', 'Python', 'C', 'Java']
l=['Excel','Data']
l1.extend(l)
print(l1)

['R', 'Python', 'C', 'Java', 'Excel', 'Data']

**c. Replace an element 'C' with 'C++' in the given list**

In [21]:
# type your code here
l1=['R', 'Python', 'C', 'Java']
l1[2]='C++'
print(l1)

['R', 'Python', 'C++', 'Java']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. How many times 'Summer' is occuring in a given list?
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

#### Use the below list

seasons_list = ['Summer', 'Winter', 'Spring', 'Winter', 'Spring' ,'Summer', 'Spring', 'Summer', 'Winter', 'Summer', 'Spring']

In [22]:
# type your code here
seasons_list = ['Summer', 'Winter', 'Spring', 'Winter', 'Spring' ,'Summer', 'Spring', 'Summer', 'Winter', 'Summer', 'Spring']
seasons_list.count('Summer')

4

<a id="tuple"> </a>
## 3. Tuple

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Write a code to perform operations on tuple:<br><br>
                        a. Check the length of num_tuple<br>
                        b. Concatenate the num_tuple and mix_tuple<br>
                        c. Repeat the mix_tuple two times
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Tuples to perform operations:**

num_tuple = (4, 4, 8)

mix_tuple = 'John', 5, -2

**a. Check the length of num_tuple**

In [23]:
# type your code here
num_tuple = (4, 4, 8)
len(num_tuple)

3

**b. Concatenate the num_tuple and mix_tuple**

In [32]:
# type your code here
num_tuple = (4, 4, 8)
mix_tuple = ('John', 5, -2)
n=list(num_list)
m=list(mix_tuple)
n.extend(m)
print(tuple(n))

(-2, 0, 1, 4, 5, 7, 'John', 5, -2)

**c. Repeat the mix_tuple two times**

In [28]:
# type your code here
mix_tuple = ('John', 5, -2)
print(mix_tuple*2)

('John', 5, -2, 'John', 5, -2)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Add a new element '4' to the given tuple</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple below:**

mix_tuple = (['a', 1, True], 2, 'Science', -5)

In [33]:
# type your code here
mix_tuple = (['a', 1, True], 2, 'Science', -5)
m=list(mix_tuple)
m.append(4)
print(tuple(m))

(['a', 1, True], 2, 'Science', -5, 4)

<a id="dict"> </a>
## 4. Dictionary

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Write a code to add a key to a dictionary
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the given dictionary and add a key (4:16)**

square_dictionary = {1:1, 2:4, 3:9}

In [41]:
# type your code here
square_dictionary = {1:1, 2:4, 3:9}
#square_dictionary.update({4:16})
square_dictionary[4]=16
print(square_dictionary)

{1: 1, 2: 4, 3: 9, 4: 16}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Write a program to retrieve the keys/values of dictionary </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dictionary**

mix_dictionary = {0:3, 'x':5, 1:2}

In [39]:
# type your code here
mix_dictionary = {0:3, 'x':5, 1:2}
mix_dictionary.keys()

dict_keys([0, 'x', 1])

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Write a program to get the value for 'Age' from the dictionary</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dictionary**

emp_record = {'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}

In [40]:
# type your code here
emp_record = {'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}
emp_record.get('Age')

27